body {
    background: url("cenario.png") no-repeat center center fixed;
    background-size: cover;
}

#imagem {
    width: 75px;
    height: 75px;
    position: fixed;
    top: 62.5%;
    left: 0;
}